.taskContainer {
  display: flex;
  font-size: 2.5vh;
  height: 5vh;
  margin-bottom: 1vh;
}

.task {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-radius: 1vh;
}

.task.selected {
  background-color: #fff2ccff;
}

.completed {
  color: #999999;
  text-decoration: line-through;
}

.extraBottomMargin {
  margin-bottom: 4vh;
}

.task.selected.beingEdited {
  background-color: #ffe599ff;
}
