.habitTrackerTable {
  font-size: 1.4vw;
  border-collapse: collapse;
}

.habitTrackerContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 8vh;
}

.trackerHeader {
  vertical-align: bottom;
}

.habitName {
  text-align: center;
  border-top-right-radius: 0.75vw;
  border-top-left-radius: 0.75vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.habitNameInput {
  writing-mode: sideways-rl;
  display: inline-block;
}

.habitName.grayedOut {
  color: #cccccc;
}

.habitNameText {
  writing-mode: sideways-rl;
  display: inline-block;
}

.selected {
  background-color: #fff2ccff;
}
