.selected {
  background-color: #fff2ccff;
}

.trackerCellContainer {
  width: 3.5vw;
  height: 3.5vw;
  position: relative;
}

.trackerCellContainer.bottomCornersRounded {
  border-bottom-left-radius: 0.75vw;
  border-bottom-right-radius: 0.75vw;
}

.trackerCellContainer.rightCornersRounded {
  border-bottom-right-radius: 0.75vw;
  border-top-right-radius: 0.75vw;
}

.trackerCellContainer.bottomRightCornerRounded {
  border-bottom-right-radius: 0.75vw;
}

.trackerCell {
  width: 2.75vw;
  height: 2.75vw;
  border-radius: 0.5vw;
  position: absolute;
  left: 0.375vw;
  top: 0.375vw;
}

.trackerCell.completed {
  background-color: #93c47dff;
}

.trackerCell.kindaCompleted {
  background-color: #ffd966ff;
}

.trackerCell.notCompleted {
  background-color: #e06666ff;
}

.trackerCell.tbd {
  background-color: #434343ff;
}

.trackerCell.notApplicable {
  background-color: #d9d9d9ff;
}

.trackerCell.ignored {
  background-color: transparent;
}

.dateCell {
  text-align: right;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 2vw;
  border-top-left-radius: 0.75vw;
  border-bottom-left-radius: 0.75vw;
  font-style: italic;
  color: #cccccc;
}

.dateCell.selected {
  color: black;
}
